.card {
  background-color: var(--neutral-surface);
  border-radius: 24px;
}

.header {
  background-color: var(--neutral-header);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  color: var(--neutral-text);
  line-height: 120%;
  font-size: 20px;
  font-weight: bold;
}

.body {
  
}