.container {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  background-color: var(--neutral-surface);
  border-radius: 8px;
  padding: 12px 16px;
}

.input {
  font-size: 20px;
  line-height: 125%;
  color: var(--neutral-text);
  flex: 1;
  border: none;
  background-color: transparent;
}